/* Background Colors */
.bg-main {
    background-color: #2a3447; /* $main-bg */
  }
  
  .bg-soft {
    background-color: #384256; /* $soft-bg */
  }
  
  .bg-dark {
    background-color: #222b3c; /* $dark-bg */
  }
  
  /* Text Colors */
  .text-main {
    color: white; /* $main-color */
  }
  
  .text-soft {
    color: #ddd; /* $soft-color */
  }
  
  .text-dark {
    color: #2a3447; /* $dark-color */
  }
  